[Unit]
Description=GoLive Streaming service

[Service]
WorkingDirectory=/home/pi/golive
ExecStart=/home/pi/venv/bin/python3 /home/pi/golive/src/livestream.py
SyslogIdentifier=SRV_CAMERA
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target