[Unit]
Description=GoLive Streaming service
After=network-online.target

[Service]
WorkingDirectory=/home/pi/golive
ExecStart=/home/pi/venv/bin/python3 /home/pi/golive/src/livestream.py
SyslogIdentifier=SRV_GOLIVE
Restart=always
RestartSec=30

[Install]
WantedBy=network-online.target
